import(rJava)

exportClasses(Farm,CompositeFarm,FarmRepresentation)

exportMethods(set,model,solvefm,isSolved,profit,eo,cropArea,setInputCost,cropNames,objectiveNames,objectiveValues,objectiveScaleFactors)

export(CompositeFarm,Farm)

export(parseXMLDocument,setWeightInMOUDocument,setRiskInMOUDocument,setCropComplexityInMOUDocument,setPriceInProfitDocument,setPricesInProfitDocument,setSubsidiesInProfitDocument,setSubsidyInProfitDocument)

export(basicArableFarmParameterFile,basicArableFarm)

S3method(as.data.frame, FarmRepresentation)
S3method(as.data.frame, Farm)
S3method(as.data.frame, CompositeFarm)


