<!-- Details for spring barley 
 Gross margin
  Primary yield:        ((19.98-(18.164*(0.9952^({N fertiliser})))-(0.0364*({N fertiliser})))*(0.887+0.075*({Soil Type})))*1.04 = 6.16; Cash Crop
  Secondary yield:      ((20.38-(18.164*(0.9952^({N fertiliser})))-(0.0364*({N fertiliser})))*(0.887+0.075*({Soil Type}))*0.5)*1.04 = 3.29; Livestock and Cash
  Primary yield price:  73.0
  Secondary yield price:25.0
  Area subsidy:         184.0
  TOTAL OUTPUT =        715.8 -->
<crop id="springbarley" allowContinuous="false" price="77" price2="20.0" 
      yield="((19.98-(18.164*(0.9952^({N fertiliser})))-(0.0364*({N fertiliser})))*(0.887+0.075*({Soil Type})))*1.04" 
      yield2="((20.38-(18.164*(0.9952^({N fertiliser})))-(0.0364*({N fertiliser})))*(0.887+0.075*({Soil Type}))*0.5)*1.04" 
      subsidy="220" disease="barley" yrisk="20" prisk="9" eostdev="21.8">
  
  <!--Decrease by successive growing:
  Year                  2         3         4         5 
  Yield loss (%)        11.0      11.0      11.0      11.0
  Cost/ha               No penalties
  Nitrate leaching      0.0       0.0       0.0       0.0
  Blackgrass herbicide  0.0       0.0       0.0       0.0
  Wild Oat herbicide    2.0       2.0       3.0       4.0

 Inputs:
  Seed kg/ha:           175.0 @ 0.22 £/kg
  Other  £/ha:          63.7
  N fertiliser:         136.0 @ 0.45 £/kg=                                                                  
  P fertiliser:         35.0 @ 0.31 £/kg=                                                                  
  K fertiliser:         33.0 @ 0.24 £/kg=                                                     
  Wild oat herbicide:   0.0 @ 2.75 £/kg=                                                                                
  TOTAL INPUTS =        182.2
  GROSS MARGIN =        533.6-->

    <input type="N fertiliser" unitCost="0.45" baseAmount="136" />
    <input type="P fertiliser" unitCost="0.31" baseAmount="35" />
    <input type="K fertiliser" unitCost="0.24" baseAmount="33" />
    <input type="BGHerbicide" unitCost="1.8" baseAmount="0" />
    <input type="WOHerbicide" unitCost="2.75" baseAmount="0" />
    <input type="Seed Amount of crop" unitCost="0.17" baseAmount="175"/>
    <input type="Unspecified" unitCost="1" baseAmount="63.7" />


<!--Rotation penalties (N.A. = Not Allowed)
                        A      B      C      D             F
  Wheat                 11     20     3      0      0
  Oats                  6      20     0      0      0
  Peas/Beans            0      0      0      0      0
  Brassica              0      0      0      0      0
  Potato                0      0      0      0      0
  Sugar Beet            0      0      0      0      0
  Linseed               0      0      0      0      0
  Rotational setaside   6      0      0      0      0-->

<rotation id="springbarley">  
  <csv data="rotpenalty">wheat,11,20</csv>
  <csv data="rotpenalty">oats,6,20</csv>
  <csv data="rotpenalty">none,6,0</csv>
</rotation>


 <!-- Sequential operations
  Spread P/K-Autumn     from [1: Jul 30] to [1: Nov 18]    Periods gap: min 0 max -
  Plough (Spring crop)  from [1: Sep 24] to [2: Mar 25]    Periods gap: min 0 max -
  Plant SBarley/Oats    from [2: Jan 1] to [2: Apr 8]      Periods gap: min 0 max -
  Roll-spring           from [2: Feb 26] to [2: May 6]     Periods gap: min 0 max -
  Combine SBarley       from [2: Aug 13] to [2: Sep 9]     Periods gap: min 0 max -
  Bale-SBstraw          from [2: Aug 13] to [2: Sep 23]    Periods gap: min 0 max - -->
  <operation type="fert" workability="r80">
    <csv data="allow">[1: Jul 30],[1: Nov 18]</csv> 
    <csv data="wkrate">(0.06+0.00025*({P fertiliser}+{K fertiliser}))+(64.48+0.094*({P fertiliser}+{K fertiliser}))/1200</csv>
    <csv data="machines">labour,tractor</csv>
  </operation>
  <operation type="plough" workability="r100">
    <csv data="allow">[1: Sep 24],[2: Mar 25]</csv>
    <csv data="wkrate">(1.44*(50*{Soil Type}+20))/{Size of first machine in system definition}</csv>
    <csv data="machines">tractor,labour</csv>
  </operation>
  <operation type="plant" workability="r70"><!-- Drill Cereals -->
    <csv data="allow">[2: Jan 1],[2: Apr 8]</csv>
    <csv data="wkrate">(0.06+0.00069*{Seed Amount of crop})+(58.82+41.5*{Soil Type}+0.00626*{Seed Amount of crop})/{Size of first machine in system definition}</csv>
    <csv data="machines">tractor,labour</csv>
    <csv data="yieldpenalties">2,0,1,3,7,12,18</csv>
  </operation>
  <operation type="roll" workability="r80">
    <csv data="allow">[2: Feb 26],[2: May 6]</csv>
    <csv data="wkrate">0.33</csv><!-- Formula in SWFM has no variables -->
    <csv data="machines">tractor,labour</csv>
  </operation>
  <operation type="combine" workability="r70"><!-- Combine-barley -->
    <csv data="allow">[2: Aug 13],[2: Sep 9]</csv>
    <csv data="wkrate">((1.15*{Primary yield of crop}+24)/4)/{Size of first machine in system definition}</csv>
    <csv data="machines">combine,tractor 2,labour 3</csv>
    <csv data="yieldpenalties">0,2</csv>
  </operation>
  <operation type="bale" workability="r70"  handover="true">
    <csv data="allow">[2: Aug 13],[2: Sep 23]</csv>
    <csv data="wkrate">(({Secondary yield of crop}+13)/4)/{Size of first machine in system definition}</csv><!--0.89-->
    <csv data="machines">baler,tractor 3,labour 3</csv>
    <csv data="yieldpenalties">0,0,20</csv>
  </operation>

<!-- Non-sequential operations
  Fertilise(Apr)        from [2: Mar 26] to [2: Apr 22]
  Spray   April         from [2: Mar 26] to [2: Apr 22]
  Spray   May           from [2: Apr 23] to [2: May 20] -->
<operation type="fert" nonsequential="true" workability="r80">
  <csv data="allow">[2: Mar 26],[2: Apr 22]</csv>
  <csv data="wkrate">(0.06+0.00025*({N fertiliser}))+(64.68+0.094*({N fertiliser}))/1200</csv>
  <csv data="machines">tractor,labour</csv>
</operation>
<operation type="spray" nonsequential="true" workability="r60">
  <csv data="allow">[2: Mar 26],[2: Apr 22]</csv>
  <csv data="wkrate">0.11+191.6/{Size of first machine in system definition}</csv>
  <csv data="machines">sprayer,tractor,labour</csv>
</operation>
<operation type="spray" nonsequential="true" workability="r60">
  <csv data="allow">[2: Apr 23],[2: May 20]</csv>
  <csv data="wkrate">0.11+191.6/{Size of first machine in system definition}</csv>
  <csv data="machines">sprayer,tractor,labour</csv>
</operation>

</crop>


<!--CROP Spring Barley          DATABASE: JFMTest   MODEL: min  04/04/2008 



 Minimum area:          0.0



 Type of crop:          Annual

 Setaside type:         Arable

 Crop rotation class:   Barley



 



Primary Yield Dry Matter Not defined%

Primary Yield N Content, kg N/t freshweight Not defined

Primary Yield P Content, kg P2O5/t freshweight Not defined

Primary Yield K Content, kg K2O/t freshweight Not defined

Secondary Yield Dry Matter Not defined%

Secondary Yield N Content, kg N/t freshweight Not defined

Secondary Yield P Content, kg P2O5/t freshweight Not defined

Secondary Yield K Content, kg K2O/t freshweight Not defined

Harvest Index Not defined






 RISK

  Disease variability:  5

  Price variability:    11






 Storage type: 0        Minimum storage = 0 tonnes



 



 Key to table column titles

A = Yield Loss (%) 

B = Cost / ha

C = Blackgrass herbicide

D = Wild Oat herbicide  

E = N fertiliser        



Rotational Penalty Formula



 Base Environmental effects



  Nitrate leaching:  

   56. = (({N fertiliser}-14*{Primary yield of crop}-5.5*{Secondary yield of cr

         op}+25))*(120/(120+33+67*{Soil Type}))                                 

  Blackgrass herbicide:  

   No Effect

  Wild Oat herbicide:  

   No Effect

-->